<%- include('header.ejs') %>

<body>
    <div class="d-flex justify-center">

        <div class="card">
            <div class="card-header">
                Give a Quiz
            </div>
            <div class="card-body">
                Get the link from the quiz maker & give the quiz.
                <button class="btn-warning">Click</button>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                Take a Quiz
            </div>
            <div class="card-body">
                Create a quiz as per your choice and share the link.
                <button class="btn-warning">Click</button>
            </div>
        </div>
        
    </div>
</body>

<%- include('footer.ejs') %>