body{
    font-family: 'Roboto', sans-serif;
}

body{
  background-image: url("../images/bg.jpg"); 
  background-color: #cccccc; 
  height:520px; 
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover;
}
a{
    color: black;
    font-size: x-large;
    
}
a:hover{
    text-decoration: none;
    color: rgb(11, 10, 12);
    
}
li{
    padding: 2%;
    padding-top: 1%;
}
.row{
    display: flex;
    height: 250px;
    align-items: center;
    justify-content: center;
}
.col-6{
    margin: 0;
    padding: 0;
}
.btn{
    background-color: beige;
    box-shadow: 0px 0px 10px 1px gray;
    
}
.btn:hover{

    transform: scale(1.03);
        transition: 0.5s;
}